@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    /* background-color: #11181f; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    /* This increases the letter spacing. Adjust the value as needed. */
}


.container {
    width: 100%;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    margin-right: auto;
    margin-left: auto;

    /* Define custom properties for padding at different breakpoints */
    --container-padding: 2rem;

    /* Typically, Tailwind's container has a `max-width` for each responsive breakpoint. */
    /* You would define those breakpoints here, and set the max-width accordingly. */
    @media (min-width: 640px) {
        /* sm */
        max-width: 640px;
    }

    @media (min-width: 768px) {
        /* md */
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        /* lg */
        max-width: 1024px;
    }

    @media (min-width: 1280px) {
        /* xl */
        max-width: 1280px;
    }

    @media (min-width: 1536px) {
        /* 2xl */
        max-width: 1536px;
    }
}
